.noteIcon {  margin:10px }

.noteIcon:hover {
  color: rgb(122, 32, 32);
  transition: all 0.5s;
  cursor: pointer;
}

.modalColor {
  color: black !important;
}

.confirmedOrders{
    background : #a5f57d
}

.completedOrders{
    background : #0a93fc
}
